<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-08">

    {% include sidebar.html %}

    <div class="content container">
{% if page.title == "Home" %}
  <p>BMTZ, de beroepsvereniging van Biomedisch Technologen in de zorg! Een Biomedisch Technoloog is een professional die in het “grijze gebied” tussen het management, de zorgprofessional en de door technologie gedreven medische processen opereert. Wij zijn van mening dat medische technologie veiliger en effectiever ingezet kan worden. Om de kracht van het groeiende aantal Biomedisch Technologen binnen de Nederlandse gezondheidszorg te bundelen, is BMTZ opgericht. Kijk vooral nog even verder op deze site en vindt ons profiel, nieuws en nog veel meer. Heeft u nog vragen of wilt u lid worden? Neem dan gerust contact met ons op!</p>
{% endif %}

      {{ content }}
    </div>

  </body>
</html>
